{
    "API_PATH": "API",
    "APPLICATION_PATH": "APPLICATION",
    "DOMAIN_PATH": "DOMAIN",
    "INFRASTRUCTURE_PATH": "INFRASTRUCTURE",
    "CONTROLLERS": {
        "GENERIC_NAME": "GenericController",
        "PATH": "API_PATH/Controllers"
    },
    "DTO": {
        "PATH": "APPLICATION_PATH/Dto",
        "LIST_PATH": "APPLICATION_PATH/AppInjector.cs"
    },
    "SERVICE": {
        "IPATH": "APPLICATION_PATH/IService",
        "PATH": "INFRASTRUCTURE_PATH/Service",
        "IGENERIC_NAME": "IGenericService",
        "GENERIC_NAME": "GenericService",
        "SERVICE_VARIABLE": "services",
        "LIST_PATH": "INFRASTRUCTURE_PATH/InfraInjector.cs"
    },
    "MAPPER": {
        "PATH": "APPLICATION_PATH/Mapper",
        "SERVICE_VARIABLE": "services",
        "LIST_PATH": "APPLICATION_PATH/AppInjector.cs"
    },
    "DATA": {
        "PATH": "INFRASTRUCTURE_PATH/Data"
    },
    "MODEL": {
        "PATH": "DOMAIN_PATH/Model",
        "LIST": [
            "User"
        ]
    }
}